<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saving">
        <handler type="Stendahls.Sc.CompatibleRenderingsHelper.CompatibleRenderingsHelperSavingEvent, Stendahls.Sc.CompatibleRenderingsHelper" method="OnItemSaving">
          <database>master</database>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>